{% extends 'base.html' %}

{% load static %}

{% block title %} {{title}} :: {{ block.super }} {% endblock %}

{% block content %}
<section class="blog-post-area">
    <div class="container">
        <div class="row">
            <div class="blog-post-area-style">
                <div class="col-md-12">
                    <div class="single-post-big">
                        <div class="big-image">
                            <img src="{{random_post.photo.url}}" alt="{{random_post.title}}">
                        </div>
                        <div class="big-text">
                            <h3><a href="{{random_post.get_absolute_url}}">{{random_post.title}}</a></h3>
                            <p>{{random_post.content | truncatewords_html:60 | safe}}</p>
                            <h4><span class="date">{{random_post.created_at|date:'d.m.Y'}}</span><span class="author">Posted By: <span
                                    class="author-name">{{random_post.author}}</span></span>
                            </h4>
                        </div>
                    </div>
                </div>
                {% for item in posts %}
                <div class="col-md-3">
                    <div class="single-post">
                        {% if item.photo %}
                        <img src="{{item.photo.url}}" alt={{post.title}}>
                        {% else %}
                        <img src="" alt={{post.title}}>
                        {% endif %}
                        <h3><a href="{{item.get_absolute_url}}">{{item.title}}</a></h3>
                        <h4><span>Posted By: <span class="author-name">{{item.author}}</span></span>
                        </h4>
                        <p>{{item.content | truncatewords_html:20 | safe}}</p>
                        <h4><span>{{item.created_at|date:'d.m.Y'}}</span></h4>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'blog/inc/_pagination.html' %}
</section>
{% endblock %}