<div class="grid">
    <div class="button-group filters-button-group">
        <button data-filter=".popular" class="button is-checked">Популярні</button>
        <button data-filter=".recent" class="button">Нещодані</button>
        <button data-filter=".users" class="button">Автор</button>
    </div>
    {% for post in posts %}
    <div class="portfolio-item recent">
        {% if post.photo %}
        <img src="{{post.photo.url}}" alt="{{post.title}}">
        {% else %}
        <img src="" alt={{post.title}}>
        {% endif %}
        <div class="portfolio-text">
            <h5><a href="{{post.get_absolute_url}}">{{post.title}}</a></h5>
            <p>{{post.author }}<span>|</span>{{post.created_at|date:'d.m.Y'}}</p>
        </div>
    </div>
    {% endfor %}
</div>