{% extends 'base.html' %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}
    <div class="container-fluid mb-4">
        <div class="row justify-content-center my-3">
            <div class="col text-center">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-sm-8 col-md-6 col-lg-4">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="row">
                        <div class="col-lg">
                            <button class="btn btn-main w-100" type="submit">Ввійти</button>
                        </div>
                        <div class="col-lg align-self-center text-center my-3 my-sm-3 my-md-3 my-lg-0">
                            <a href="{% url 'register' %}">Немає акаунту?</a>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg align-self-center text-center my-0 my-lg-3">
                        <a href="{% url 'password_reset' %}">Забули пароль?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}