{% load static %}
<h5 class="mt-4"><a name="comments">Залишити коментар</a></h5>
{% if user.is_authenticated %}
    <form method="POST">
        <div class="comment">
            {% csrf_token %}
            <input type="hidden" name="parent" id="contactparent" value="">
            {{ form.as_p }}
            <div class="text-end">
                <button type="submit" class="btn btn-main" value="Надіслати">Надіслати</button>
            </div>
        </div>
    </form>
{% else %}
    <p class="mb-4">
        <a class="btn btn-main me-0" href="{% url 'login' %}?next={{ request.path }}#comments">Авторизуватися</a>
        , щоб залишити коментар
    </p>

{% endif %}
<h5 class="border-bottom mb-0 pb-2">Коментарі ({{ post.get_comment_count }})</h5>
<ul class="comment-list">
    {% for comment in comments %}
        {% if comment.is_parent %}
            <li>
                {% include 'blog/inc/_single_comment.html' with comment=comment parent=comment %}
                {% if comment.children %}
                    <ul class="reply-list">
                        {% for reply in comment.children %}
                            <div class="collapse" id="reply-list-{{ comment.id }}">
                                <li>
                                    {% include 'blog/inc/_single_comment.html' with comment=reply parent=comment %}
                                </li>
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endif %}
    {% empty %}
        <div class="py-3 border-bottom">Немає коментарів</div>
    {% endfor %}
</ul>
{% include 'inc/_pagination.html' with page_obj=comments anchor='#comments' %}