{% load static %}
<h5 class="border-bottom mb-0 py-2">Коментарі ({{ post.get_comment_count }})</h5>
<ul class="comment-list">
    {% for comment in post.post_comments.all %}
        {% if comment.is_parent %}
            <li>
                {% include 'blog/inc/_single_comment.html' with comment=comment parent=comment %}
                {% if comment.children %}
                    <ul class="reply-list">
                        {% for reply in comment.children %}
                            <div class="collapse" id="reply-list-{{ comment.id }}">
                                <li>
                                    {% include 'blog/inc/_single_comment.html' with comment=reply parent=comment %}
                                </li>
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endif %}
    {% empty %}
        <div class="py-3 border-bottom">Немає коментарів</div>
    {% endfor %}
</ul>
<div class="pb-3 border-bottom">
    {% if user.is_authenticated %}
        <form method="POST">
            <div class="comment mb-4">
                {% csrf_token %}
                <input type="hidden" name="parent" id="contactparent" value="">
                {{ form.as_p }}
                <div class="text-end">
                    <button type="submit" class="btn btn-main" value="Надіслати">Надіслати</button>
                </div>
            </div>
        </form>
    {% else %}
        <p>Авторизуйтеся, щоб залишити відгук</p>
        <a class="btn btn-warning btn-main" href="{% url 'login' %}?next={{ request.path }}">Авторизуватися</a>
    {% endif %}
</div>