{% load static %}
<div class="button-group filters-button-group pb-3">
    <button data-filter=".popular" class="button is-checked">Популярні</button>
    <button data-filter=".recent" class="button">Нещодані</button>
</div>
<div class="grid">
    {% for post in popular_posts %}
        <div class="portfolio-item popular">
            <a href="{{ post.get_absolute_url }}">
                <img class="post-photo border" alt="" src="{% if post.photo %}{{ post.photo.url }}
                                                    {% else %}{% static 'img/no-post-image.png' %}{% endif %}">
            </a>
            <div class="portfolio-text">
                <h5 class="m-0"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                <p class="mb-0">
                    <i class="fa fa-eye me-2"></i>{{ post.views }}<br>
                    <i class="fa fa-calendar-alt me-2"></i>{{ post.created_at|date:'d.m.Y' }}
                </p>
            </div>
        </div>
    {% endfor %}
    {% for post in recent_posts %}
        <div class="portfolio-item recent">
            <img class="post-photo border" alt="" src="{% if post.photo %}{{ post.photo.url }}
                                                    {% else %}{% static 'img/no-post-image.png' %}{% endif %}">
            <div class="portfolio-text">
                <h5 class="m-0"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                <p class="mb-0">
                    <i class="fa fa-calendar-alt me-2"></i>{{ post.created_at|date:'d.m.Y' }}<br>
                    <i class="fa fa-eye me-2"></i>{{ post.views }}
                </p>
            </div>
        </div>
    {% endfor %}
</div>