{% load static %}

<div class="single-post card d-flex h-auto">
    <a href="{{ post.get_absolute_url }}">
        <img class="post-photo" alt=""
             src="{% if post.photo %}{{ post.photo.url }}{% else %}{% static 'img/no-post-image.png' %}{% endif %}">
    </a>
    <div class="card-body d-flex flex-column h-100 pt-1">
        <h3 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h3>
        <div class="row mt-auto post-info">
            <div class="col-auto">
                <i class="fa fa-cubes me-2"></i>
                <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a>
            </div>
            <div class="col-auto">
                <i class="fa fa-eye me-2"></i>{{ post.views }}
            </div>
            <div class="col-auto">
                <i class="fa fa-calendar-alt me-2"></i>{{ post.created_at|date:'d.m.Y' }}
            </div>
        </div>
    </div>
</div>