{% extends 'base.html' %}

{% block title %} {{ title }} :: {{ block.super }} {% endblock %}

{% block content %}
    <div class="container contact max-w-1000">
        <div class="row">
            <div class="col-12 text-center">
                <h2>{{ title }}</h2>
            </div>
            <div class="col-12">
                <ul>
                    <li class="list-group-item mb-2">
                        <a href="tel:+380976011377">
                            <i class="fa fa-phone pe-1" aria-hidden="true"></i>
                            <span>+38 097 601 13 77</span>
                        </a>
                    </li>
                    <li class="list-group-item mb-2">
                        <a href="mailto:yura.onyshchuk@gmail.com">
                            <i class="fa fa-envelope pe-1" aria-hidden="true"></i>
                            <span>yura.onyshchuk@gmail.com</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}