{% extends 'base.html' %}

{% load static %}

{% block title %} {{ title }} :: {{ block.super }} {% endblock %}

{% block content %}
    <section class="blog-post-area">
        <div class="container">
            <div class="row big-post mb-3">
                <div class="col-lg-6">
                    {% if random_post.photo %}
                        <div class="big-image mb-2">
                            <a href="{{ random_post.get_absolute_url }}">
                                <img src="{{ random_post.photo.url }}" alt="{{ random_post.title }}">
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    <div class="big-text">
                        <h3><a href="{{ random_post.get_absolute_url }}">{{ random_post.title }}</a></h3>
                        <div class="post-info mb-2">
                            <span><i
                                    class="fa fa-calendar-alt me-2"></i>{{ random_post.created_at|date:'d.m.Y' }}</span>
                            <span><i class="fa fa-eye me-2"></i>{{ random_post.views }}</span>
                            <div class="d-inline-block">
                                <span>Категорія:
                                    <a href="{{ random_post.category.get_absolute_url }}">{{ random_post.category }}</a>
                                </span>
                            </div>
                            {% if random_post.tags.exists %}
                                <div class="d-inline-block">
                                    <span>Теги:
                                        {% for tag in random_post.tags.all %}
                                            <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                                            {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </span>
                                </div>
                            {% endif %}
                        </div>
                        <div>{{ random_post.content | truncatewords_html:60 | safe }}</div>
                        <div class="text-end mb-3">
                            <a href="{{ random_post.get_absolute_url }}">
                                <button class="btn btn-main btn-sm">Читати повністю</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row post-list row-cols-2 row-cols-lg-3 row-cols-xl-4 gy-4">
                {% for item in posts %}
                    <div class="col d-flex h-auto">
                        <div class="single-post d-flex h-auto">
                            {% include 'blog/inc/_single_post_card.html' %}
                        </div>
                    </div>
                {% empty %}
                    <p>За даним запитом нічного не знайдено...</p>
                {% endfor %}
            </div>
        </div>
        {% include 'inc/_pagination.html' %}
    </section>
{% endblock %}