{% extends 'blog/blog_base.html' %}
{% load static %}

{% block blog_content %}
    <article class="post-detail-area">
        <section class="post-detail">
            <h2 class="post-title">{{ post.title }}</h2>
            <div class="post-info mb-3">
                <div class="d-inline-block">
                    <span><i class="fa fa-calendar-alt me-2"></i>{{ post.created_at|date:'d.m.Y' }}</span>
                </div>
                <div class="d-inline-block">
                    <span><i class="fa fa-eye me-2"></i>{{ post.views }}</span>
                </div>
                <div class="d-inline-block">
                    <span>Категорія: <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></span>
                </div>
                {% if post.tags.exists %}
                    <div class="d-inline-block">
                        <span>Теги:
                            {% for tag in post.tags.all %}
                                <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </span>
                    </div>
                {% endif %}
            </div>
            {% if post.photo %}
                <img class="post-img mb-3" src="{{ post.photo.url }}" alt="">
            {% endif %}
            <div class="post-content">
                {{ post.content|safe }}
            </div>
        </section>
        <section class="comments mb-3">
            <h5 class="mt-4"><a name="comments">Залишити коментар</a></h5>
            {% if user.is_authenticated %}
                <form method="POST">
                    <div class="comment">
                        {% csrf_token %}
                        <input type="hidden" name="parent" id="contactparent" value="">
                        {{ form.as_p }}
                        <div class="text-end">
                            <button type="submit" class="btn btn-main" value="Надіслати">Надіслати</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <p class="mb-4">
                    <a class="btn btn-main me-0" href="{% url 'login' %}?next={{ request.path }}#comments">Авторизуватися</a>
                    , щоб залишити коментар
                </p>
            {% endif %}
            <h5 class="border-bottom mb-0 pb-2">Коментарі ({{ post.get_comment_count }})</h5>
            <ul class="comment-list">
                {% for comment in comments %}
                    {% if comment.is_parent %}
                        <li>
                            {% include 'blog/inc/_single_comment.html' with comment=comment parent=comment %}
                            {% if comment.children %}
                                <ul class="reply-list">
                                    {% for reply in comment.children %}
                                        <div class="collapse" id="reply-list-{{ comment.id }}">
                                            <li>
                                                {% include 'blog/inc/_single_comment.html' with comment=reply parent=comment %}
                                            </li>
                                        </div>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}
                {% empty %}
                    <div class="py-3 border-bottom">Немає коментарів</div>
                {% endfor %}
            </ul>
            {% include 'inc/_pagination.html' with page_obj=comments anchor='#comments' %}
        </section>
    </article>
{% endblock %}