{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load blog_tags %}

{% block title %} {{ title }} :: {{ block.super }} {% endblock %}

{% block sidebar %}
    {% include 'blog/inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    <article class="post-detail-area">
        <section class="post-detail">
            <h2 class="post-title">{{ post.title }}</h2>
            <div class="post-info mb-3">
                <div class="d-inline-block">
                    <span><i class="fa fa-calendar-alt me-2"></i>{{ post.created_at|date:'d.m.Y' }}</span>
                </div>
                <div class="d-inline-block">
                    <span><i class="fa fa-eye me-2"></i>{{ post.views }}</span>
                </div>
                <div class="d-inline-block">
                    <span>Категорія: <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></span>
                </div>
                {% if post.tags.exists %}
                    <div class="d-inline-block">
                        <span>Теги:
                            {% for tag in post.tags.all %}
                                <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </span>
                    </div>
                {% endif %}
            </div>
            {% if post.photo %}
                <img class="post-img mb-3" src="{{ post.photo.url }}" alt="">
            {% endif %}
            <div class="post-content">
                {{ post.content|safe }}
            </div>
            <div class="d-block text-start text-sm-end">
                <span class="me-2 border-bottom" style="font-size: 14px">Сподобався допис?</span>
                {% like_button post 'post' %}
            </div>
        </section>
        <section class="comments">
            <a name="comments"></a>
            {% if user.is_authenticated %}
                <div class="mt-4 mt-sm-2 mb-2">
                    <h6>Залишити коментар</h6>
                    <form method="POST">
                        <div class="comment">
                            {% csrf_token %}
                            <input type="hidden" name="parent" id="contactparent" value="">
                            {{ form|crispy }}
                            <div class="text-end">
                                <button type="submit" class="btn btn-main" value="Надіслати">Надіслати</button>
                            </div>
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="my-4">
                    <h6>Авторизуйтеся, щоб залишити коментар</h6>
                    <a class="btn btn-main"
                       href="{% url 'login' %}?next={{ request.path }}#comments">Авторизуватися</a>
                    {% include 'accounts/inc/_modal_authentication.html' with massage='Авторизуйтеся, щоб відреагувати в коментарях' anchor='#comments' %}
                </div>
            {% endif %}
            <h6 class="border-bottom pb-1">Коментарі ({{ post.get_comment_count }})</h6>
            <ul class="comment-list">
                {% for comment in comments %}
                    {% if comment.is_parent %}
                        <li class="comment border-bottom py-2">
                            {% include 'blog/inc/_single_comment.html' with comment=comment parent=comment %}
                            {% if comment.children %}
                                <ul class="reply-list">
                                    {% for reply in comment.children %}
                                        <li class="collapse" id="reply-list-{{ comment.id }}">
                                            <div class="reply border-top pt-2 mt-2">
                                                {% include 'blog/inc/_single_comment.html' with comment=reply parent=comment %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}
                {% empty %}
                    <div class="border-bottom pt-2 pb-3">Немає коментарів</div>
                {% endfor %}
            </ul>
            {% include 'inc/_pagination.html' with page_obj=comments anchor='#comments' %}
        </section>
    </article>
{% endblock %}