{% extends 'base.html' %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}
    <div class="container-md">
        <div class="row max-w-1000">
            <div class="col text-center text-sm-start">
                <i class="d-inline-block bi bi-shield-lock fs-3 me-2"></i>
                <h3 class="d-inline-block">{{ title }}</h3>
                <h6 class="text-muted pb-3 mb-3 border-bottom text-start">{{ subtitle }}</h6>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 max-w-1000">
            <div class="col">
                <h3>Зміна паролю</h3>
                <p>Ви впевнені, що хочете змінити пароль до свого облікового запису?</p>
                <a href="{% url 'password_change' %}" type="button" class="btn btn-main">Змінити
                    пароль</a>
            </div>
            <div class="col">
                <h3 class="pt-4 pt-sm-0">Видалити акаунт</h3>
                <p>Ви впевнені, що хочете видалити свій обліковий запис?</p>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#delete_account">Видалити
                </button>
                {% include 'accounts/personal_cabinet/modal_confirm_account_delete.html' %}
            </div>
        </div>
    </div>
{% endblock %}