{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}
    <div class="max-w-1000 text-center">
        <h1><i class="fa-solid fa-key"></i></h1>
        <h1 class="mb-3">{{ title }}</h1>
        <p class="mb-1">Забули свій пароль?</p>
        <p>Введіть свою електронну адресу нижче, і ми надішлемо електронною поштою інструкції щодо налаштування
            нової.</p>
        <div class="layout-form">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-main w-100" type="submit">Перевстановити мій пароль</button>
            </form>
        </div>
    </div>
{% endblock %}
