{% load socialaccount %}

<div class="social-auth mt-3">
    <a class="btn btn-block btn-social btn-google w-100 text-center my-2"
       href="{% provider_login_url 'google' %}">
        <div aria-hidden="true" class="a44d4350 _2a3b75a1 _509a57b4 e5a9206f">
            <svg width="25" height="25" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" class="MfSWZ05"
                 aria-hidden="true">
                <g fill="none" fill-rule="evenodd">
                    <path d="M17.64 9.205c0-.639-.057-1.252-.164-1.841H9v3.481h4.844a4.14 4.14 0 01-1.796 2.716v2.259h2.908c1.702-1.567 2.684-3.875 2.684-6.615z"
                          fill="#4285F4"></path>
                    <path d="M9 18c2.43 0 4.467-.806 5.956-2.18l-2.908-2.259c-.806.54-1.837.86-3.048.86-2.344 0-4.328-1.584-5.036-3.711H.957v2.332A8.997 8.997 0 009 18z"
                          fill="#34A853"></path>
                    <path d="M3.964 10.71A5.41 5.41 0 013.682 9c0-.593.102-1.17.282-1.71V4.958H.957A8.996 8.996 0 000 9c0 1.452.348 2.827.957 4.042l3.007-2.332z"
                          fill="#FBBC05"></path>
                    <path d="M9 3.58c1.321 0 2.508.454 3.44 1.345l2.582-2.58C13.463.891 11.426 0 9 0A8.997 8.997 0 00.957 4.958L3.964 7.29C4.672 5.163 6.656 3.58 9 3.58z"
                          fill="#EA4335"></path>
                    <path d="M0 0h18v18H0z"></path>
                </g>
            </svg>
        </div>
        Продовжити через Google
    </a>
    <a class="btn btn-block btn-social btn-facebook w-100 text-center my-2"
       href="{% provider_login_url 'facebook' %}">
        <div aria-hidden="true" class="a44d4350 _2a3b75a1 _509a57b4 e5a9206f">
            <svg width="25" height="25" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"
                 class="MfSWZ05" aria-hidden="true">
                <mask id="facebook-icon_svg__a" maskUnits="userSpaceOnUse" x="0" y="0" width="18" height="18"
                      style="mask-type: alpha;">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M.001 0H18v17.89H.001V0z" fill="#fff"></path>
                </mask>
                <g mask="url(#facebook-icon_svg__a)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M18 9a9 9 0 10-10.406 8.89v-6.288H5.309V9h2.285V7.017c0-2.255 1.343-3.501 3.4-3.501.984 0 2.014.175 2.014.175v2.215h-1.135c-1.118 0-1.467.694-1.467 1.406V9h2.496l-.399 2.602h-2.097v6.289C14.71 17.216 18 13.492 18 9z"
                          fill="#1877F2"></path>
                </g>
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12.503 11.602l.4-2.602h-2.497V7.312c0-.712.349-1.406 1.467-1.406h1.135V3.691s-1.03-.175-2.015-.175c-2.056 0-3.4 1.246-3.4 3.501V9H5.31v2.602h2.285v6.289a9.067 9.067 0 002.812 0V11.6h2.097z"
                      fill="#fff"></path>
            </svg>
        </div>
        Продовжити через Facebook
    </a>
    <a class="btn btn-block btn-social btn-linkedin w-100 text-center my-2"
       href="{% provider_login_url 'linkedin_oauth2' %}">
        <div aria-hidden="true" class="social-img">
            <span class="fa fa-linkedin"></span>
        </div>
        Продовжити через Linkedin
    </a>
    <a class="btn btn-block btn-social btn-github w-100 text-center my-2"
       href="{% provider_login_url 'github' %}">
        <div aria-hidden="true" class="social-img">
            <span class="fa fa-github"></span>
        </div>
        Продовжити з GitHub
    </a>
</div>