{% load sidebar %}

<div class="col-md-4">
    {% show_posts_list 6 %}
    <div class="tags">
        <h2 class="sidebar-title">Tags</h2>
        <p><a href="#">Adventure</a></p>
        <p><a href="#">Animals</a></p>
        <p><a href="#">Asia</a></p>
        <p><a href="#">Beauty</a></p>
        <p><a href="#">Canada</a></p>
        <p><a href="#">Celebration</a></p>
        <p><a href="#">City</a></p>
        <p><a href="#">Coffee</a></p>
        <p><a href="#">Constructions</a></p>
        <p><a href="#">Europe</a></p>
        <p><a href="#">Adventure</a></p>
        <p><a href="#">Animals</a></p>
        <p><a href="#">Asia</a></p>
        <p><a href="#">Beauty</a></p>
        <p><a href="#">Canada</a></p>
        <p><a href="#">Celebration</a></p>
        <p><a href="#">City</a></p>
        <p><a href="#">Coffee</a></p>
        <p><a href="#">Constructions</a></p>
        <p><a href="#">Europe</a></p>
        <p><a href="#">Adventure</a></p>
        <p><a href="#">Animals</a></p>
        <p><a href="#">Asia</a></p>
        <p><a href="#">Beauty</a></p>
        <p><a href="#">Canada</a></p>
    </div>
    <div class="newsletter">
        <h2 class="sidebar-title">Subscribe To oUR nEWSLETTER</h2>
        <form action="#" method="post">
            <input type="email" name="" id="" placeholder="Email">
            <input type="submit" value="Subscribe">
        </form>
    </div>
</div>