{% load sidebar %}

<div class="col-md-4">
    {% show_posts_list 6 %}
    <div class="tags">
        <h2 class="sidebar-title">Tags</h2>
        {% show_tag_list as tags %}
        {% for tag in tags %}
        <p><a href="{{tag.get_absolute_url}}">{{ tag.title }}</a></p>
        {% endfor %}
    </div>
    <div class="newsletter">
        <h2 class="sidebar-title">Subscribe To oUR nEWSLETTER</h2>
        <form action="#" method="post">
            <input type="email" name="" id="" placeholder="Email">
            <input type="submit" value="Subscribe">
        </form>
    </div>
</div>