{% load static %}
{% load sidebar %}

<header>
    <div class="topbar bg-dark text-bg-dark text-end d-flex align-items-center sticky-top">
        <div class="container">
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <a class="user-link nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
                       aria-expanded="false">
                        <p class="d-inline-block text-bg-dark fw-bold mb-0 pe-2">{{ user }}</p>
                        <i class="d-inline-block fa-regular fa-user fs-6"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'personal_cabinet' %}">
                            <i class="bi bi-person me-2 fs-6"></i>Особистий кабінет</a>
                        </li>
                        <li><a class="dropdown-item mt-1" href="{% url 'logout' %}">
                            <i class="bi bi-box-arrow-right me-2 fs-6"></i>Вийти з акаунту </a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="authentication-button">
                    <a class="login" href="{% url 'login' %}?next={{ request.path }}"> Вхід </a>
                    <a class=" register me-0" href="{% url 'sign_up' %}?next={{ request.path }}">
                        Реєстрація </a>
                </div>
            {% endif %}

        </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-light py-0 mb-lg-2" aria-label="Offcanvas navbar large">
        <div class="container">
            <div class="site-logo">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img class="py-1" src="{% static 'img/favicon.ico' %}" height="60px" alt="">
                    <span>Ні пуху, ні пера!</span>
                </a>
            </div>
            <div class="tool-bar">
                <button class="navbar-toggler toggle-search-button p-0 me-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#SearchBox">
                    <i class="fa fa-search"></i>
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar"
                        aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="SearchBox">
                {% include 'blog/inc/_search_box.html' with class='d-lg-none d-flex w-100 mt-1 mt-lg-0' button_class='btn-dark' %}
            </div>
            <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header justify-content-end">
                    <button type="button" class="btn-close btn-close" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body ms-0 ms-xl-5">
                    <div class="menu">
                        <ul class="navbar-nav border-bottom">
                            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Головна</a></li>
                            {% get_categories as categories %}
                            {% for item in categories %}
                                <li class="nav-item"><a class="nav-link"
                                                        href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>