{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}
    <div class="max-w-1000 text-center">
        <h1 class="mb-3">{{ title }}</h1>
        {% if validlink %}
            <p>Будь ласка, введіть двічі новий пароль, щоб ми могли перевірити, що ви ввели його правильно.</p>
            <div class="layout-form">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-main w-100" type="submit">Зберегти</button>
                </form>
            </div>
        {% else %}
            <p>Посилання для скидання пароля було недійсним, можливо, тому, що воно вже використовувалося. <br>Подайте
                запит на скидання нового пароля.</p>
        {% endif %}
    </div>
{% endblock %}

