{% extends 'base.html' %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}
    <div class="max-w-1000 text-center">
        <h1><i class="fa-solid fa-key"></i></h1>
        <h1 class="mb-3">{{ title }}</h1>
        <p>Ми надіслали вам інструкції щодо встановлення пароля.</p>
        <p>Якщо ви не отримали електронного листа, будь ласка, переконайтеся, що ви ввели адресу, за якою ви
            зареєструвалися, та перевірте папку зі спамом.</p>
    </div>
{% endblock %}
