{% extends 'base.html' %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}
    <div class="container-fluid my-5">
        <div class="row justify-content-center mb-3">
            <div class="col-md-8 text-center">
                <h1><i class="fa-solid fa-key"></i></h1>
                <h1 class="pb-3">{{ title }}</h1>
                <p>Пароль встановлено. Ви можете увійти зараз.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-xl-3 text-center">
                <a href="{% url 'login' %}"><input class="btn btn-main w-100" type="button" value="Увійти"></a>
            </div>
        </div>
    </div>
{% endblock %}
