{% extends 'base.html' %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1><i class="fa-solid fa-key"></i></h1>
                <h1 class="pb-3">{{ title }}</h1>
                <p>Забули свій пароль? Введіть свою електронну адресу нижче, і ми надішлемо електронною поштою
                    інструкції щодо налаштування нової.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-xl-3 text-center">
                <form method="POST">{% csrf_token %}
                    <fieldset>
                        <div>
                            {{ form.email.errors }}
                            <label for="id_email">Email-адреса:</label>
                            <input class="form-control mt-1 mb-3" type="email" name="email" autocomplete="email"
                                   maxlength="254" required="" id="id_email" placeholder="example@gmail.com">
                        </div>
                        <input class="btn btn-main" type="submit" value="Перевстановити мій пароль">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
