{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}
    {% if validlink %}
        <div class="layout-form">
            <h1 class="pb-3">{{ title }}</h1>
            <p>Будь ласка, введіть двічі новий пароль, щоб ми могли перевірити, що ви ввели його правильно.</p>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-main w-100" type="submit">Зберегти</button>
            </form>
        </div>
    {% else %}
        <div class="container-md personal-cabinet">
            <div class="row">
                <div class="col max-w-1000">
                    <h1 class="pb-3">{{ title }}</h1>
                    <p class="text-center fw-bold mt-3">Посилання для скидання пароля було недійсним, можливо, тому, що
                        воно вже використовувалося. <br>Подайте запит на скидання нового пароля.</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

