{% extends 'base.html' %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}
    <div class="container-fluid my-5">
        {% if validlink %}
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h1 class="pb-3">{{ title }}</h1>
                    <p>Будь ласка, введіть двічі новий пароль, щоб ми могли перевірити, що ви ввели його правильно.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-xl-3 text-center">
                    <form method="POST">{% csrf_token %}
                        <div class="form-row field-password1">
                            {{ form.new_password1.errors }}
                            <label for="id_new_password1">Новий пароль:</label>
                            {{ form.new_password1 }}
                        </div>

                        <div class="form-row field-password2 mt-2 mb-3">
                            {{ form.new_password2.errors }}
                            <label for="id_new_password2">Підтвердіть пароль:</label>
                            {{ form.new_password2 }}
                        </div>
                        <input class="btn btn-main" type="submit" value="Змінити мій пароль">
                    </form>
                </div>
            </div>
        {% else %}
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h1 class="pb-3">{{ title }}</h1>
                    <p>Посилання для скидання пароля було недійсним, можливо, тому, що воно вже використовувалося.</p>
                    <p>Подайте запит на скидання нового пароля.</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

